<launch>

<!-- lanelet2_map -->

<arg name="lidar_frame" default="base_link" />
<arg name="map_frame" default="map" />
<arg name="grid_min_value" default="0.0" />
<arg name="grid_max_value" default="1.0" />
<arg name="grid_resolution" default="0.1" />
<arg name="grid_length_x" default="10" />
<arg name="grid_length_y" default="10" />
<arg name="grid_position_x" default="0" />
<arg name="grid_position_y" default="0" />
<arg name="maximum_lidar_height_thres" default="0.3" />
<arg name="minimum_lidar_height_thres" default="-2.2" />
<arg name="expand_polygon_size" default="1.0" />
<arg name="size_of_expansion_kernel" default="9" />
<arg name="use_wayarea" default="true" />
<arg name="objects_input" default="/prediction/motion_predictor/objects" />
<arg name="points_input" default="" />

	<node pkg="costmap_generator" type="costmap_generator_lanelet2" name="costmap_generator_lanelet2" output="screen">
		<param name="lidar_frame" value="$(arg lidar_frame)" />
		<param name="map_frame" value="$(arg map_frame)" />
		<param name="grid_min_value" value="$(arg grid_min_value)" />
		<param name="grid_max_value" value="$(arg grid_max_value)" />
		<param name="grid_resolution" value="$(arg grid_resolution)" />
		<param name="grid_length_x" value="$(arg grid_length_x)" />
		<param name="grid_length_y" value="$(arg grid_length_y)" />
		<param name="grid_position_x" value="$(arg grid_position_x)" />
		<param name="grid_position_y" value="$(arg grid_position_y)" />
		<param name="maximum_lidar_height_thres" value="$(arg maximum_lidar_height_thres)" />
		<param name="minimum_lidar_height_thres" value="$(arg minimum_lidar_height_thres)" />
		<param name="expand_polygon_size" value="$(arg expand_polygon_size)" />
		<param name="size_of_expansion_kernel" value="$(arg size_of_expansion_kernel)" />
		<param name="use_wayarea" value="$(arg use_wayarea)" />
		<remap from="/prediction/motion_predictor/objects"  to="$(arg objects_input)" />
	</node>
	
<arg name="file_name" default="$(find test_launch)/lanelet2_map/wanji.osm"/>
	<node pkg="map_file" type="lanelet2_map_loader" name="lanelet2_map_loader" output="screen">
		<param name="lanelet2_path" value="$(arg file_name)" />
	</node>
	<node pkg="map_file" type="lanelet2_map_visualization" name="lanelet2_map_visualization" output="screen" />

</launch>
