<!-- -*- mode: XML -*- -->
<!-- run wanji_pointcloud/CloudNodelet in a nodelet manager for an HDL-16E -->

<launch>
  <!-- declare arguments with default values -->
  <arg name="calibration" default="$(find wanji_pointcloud)/data/Wanji_lidar_16/Wanji16-carside.csv"/>
  <arg name="device_ip" default="192.168.2.86" />
  <arg name="frame_id" default="wanji" />
  <arg name="manager" default="$(arg frame_id)_nodelet_manager" />
  <arg name="max_angle" default="360" />
  <arg name="min_angle" default="0" />
  <arg name="max_distance" default="50.0" />
  <arg name="min_distance" default="0.5" />
  <arg name="pcap" default="" />
  <arg name="port" default="3001" />
  <arg name="read_fast" default="false" />
  <arg name="read_once" default="false" />
  <arg name="repeat_delay" default="0.0" />
  <arg name="rpm" default="600" />
  <arg name="data_length" default="1001" />
  <arg name="return_mode" default="1" />
  <arg name="time_mode" default="true" />

  <!-- start nodelet manager and driver nodelets -->
  <include file="$(find wanji_driver)/launch/nodelet_manager.launch">
    <arg name="device_ip" value="$(arg device_ip)"/>
    <arg name="frame_id" value="$(arg frame_id)"/>
    <arg name="manager" value="$(arg manager)" />
    <arg name="model" value="16E"/>
    <arg name="pcap" value="$(arg pcap)"/>
    <arg name="port" value="$(arg port)"/>
    <arg name="read_fast" value="$(arg read_fast)"/>
    <arg name="read_once" value="$(arg read_once)"/>
    <arg name="repeat_delay" value="$(arg repeat_delay)"/>
    <arg name="rpm" value="$(arg rpm)"/>
    <arg name="data_length" value="$(arg data_length)"/>
    <arg name="calibration" value="$(arg calibration)" />
</include>
  <!--<node name="wanji_driver_node" pkg="wanji_driver" type="wanji_driver_node"/>
  <node name="wanji_pointcloud_node" pkg="wanji_pointcloud" type="wanji_pointcloud_node"/>-->
  <!-- start cloud nodelet -->
  <include file="$(find wanji_pointcloud)/launch/cloud_nodelet.launch">
    <arg name="calibration" value="$(arg calibration)"/>
    <arg name="manager" value="$(arg manager)" />
    <arg name="max_angle" value="$(arg max_angle)"/>
    <arg name="min_angle" value="$(arg min_angle)"/>
    <arg name="max_distance" value="$(arg max_distance)"/>
    <arg name="min_distance" value="$(arg min_distance)"/>
    <arg name="rpm" value="$(arg rpm)"/>
    <arg name="return_mode" value="$(arg return_mode)"/>
    <arg name="time_mode" value="$(arg time_mode)"/>
</include>

   <!-- <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find wanji_pointcloud)/rviz_cfg/wjlidar.rviz" /> -->
</launch>
