<launch>

	<arg name="robot_pub_tf" default="false" />

	<include file="$(find autolabor_navigation_launch)/launch/simulated_environment/common_stage_simulation.launch" />

	<include file="$(find autolabor_navigation_launch)/launch/simulated_environment/second_generation_driver_simulation.launch">
		<arg name="robot_description" value="$(find xacro)/xacro --inorder '$(find autolabor_description)/urdf/second_generation_model.xacro'"/>
		<arg name="robot_pub_tf" value="$(arg robot_pub_tf)"/>
		<arg name="enable_multicar" value="false"/>
	</include>

</launch>